version: '2.0'

services:
  db:
    image: mysql:5.6
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    volumes:
      - db:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:3.5.3
    command: /app/docker-compose-rabbitmq-cmd.sh
    volumes:
      - rabbitmq:/var/lib/rabbitmq
      - .:/app

  memcached:
    image: memcached:1.4.24

  web: &rails
    image: instedd/nginx-rails:1.9
    environment:
      RAILS_ENV:
      DATABASE_HOST: 'db'
      RABBITMQ_URL: 'amqp://rabbitmq'
      MEMCACHE_SERVER: 'memcached:11211'
    pid: host
    volumes:
      - .:/app
      - bundle:/usr/local/bundle
      - /Users/waj/Devel/alto_guisso_rails:/alto_guisso_rails
    tmpfs: /app/tmp
    depends_on:
      - db
      - rabbitmq
      - memcached
    command: rails server -b 0.0.0.0 -p 80
    ports:
      - 3000:80

  workerfast:
    <<: *rails
    environment:
      RAILS_ENV: development
      INSTANCE_ID: 1000
    command: "bundle exec lib/services/generic_worker_daemon.rb $$RAILS_ENV fast $$INSTANCE_ID"
    ports: []

  workerslow:
    <<: *rails
    environment:
      RAILS_ENV: development
      INSTANCE_ID: 2000
    command: "bundle exec lib/services/generic_worker_daemon.rb $$RAILS_ENV slow $$INSTANCE_ID"
    ports: []

  xmpp:
    <<: *rails
    command: "bundle exec lib/services/xmpp_service_daemon.rb"
    ports: []

  smpp:
    <<: *rails
    command: "bundle exec lib/services/smpp_service_daemon.rb"
    ports: []

  msn:
    <<: *rails
    command: "bundle exec lib/services/msn_service_daemon.rb"
    ports: []

  cron:
    <<: *rails
    command: "bundle exec lib/services/cron_daemon.rb"
    ports: []

  sched:
    <<: *rails
    command: "bundle exec lib/services/scheduled_jobs_service_daemon.rb"
    ports: []

volumes:
  db:
  bundle:
  rabbitmq:
