body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

img {
  border: 0px;
}

h4 {
  color: white;
  text-decoration: none;
  background-color: #6192A7;
  border-top: 2px solid #3C5768;
  font-weight: bold;
  padding: 2px;
}

h4 a {
  color: white;
  text-decoration: none;
}

h4 a:visited {
  color: white;
  text-decoration: none;
}

h4 a:hover {
  color: yellow;
  background-color: #6192A7;
  text-decoration: none;
}

h5 {
  color: white;
  text-decoration: none;
  background-color: #61accc;
  border-top: 2px solid #6192A7;
  font-weight: bold;
  padding: 2px;
}

input.highlighted {
  background-color: #FFF1A8;
}

table.table {
  padding: 0px;
  border: 0px;
}

.table tr.ao {
  color: #006;
}

.table tr.at {
  color: black;
}

.table td {
  border: 0px;
  padding: 1px;
  background-color: #EFEFEF;
}

.table tr.even td {
  background-color: #EFEFEF;
}

.table tr.odd td {
  background-color: #DADADA;
}

.table th  {
  border: 0px;
  padding: 1px;
  background-color: #BCD1DA;
  font-size: 12px;
}

#all_at_messages_text, #all_ao_messages_text {
  margin: 2px;
  padding: 2px;
  border: 1px solid black;
  background-color: #FFF1A8;
}

acronym {
  border-bottom: 1px dashed black;
}

#title {
  color: blue;
  font-weight:bold;
  font-size: 20px;
  text-decoration: none;
}

#toolbar {
  font-size: 14px;
  float:right;
  clear:both;
}

#notice {
  border:1px solid black;
  background:#FFF1A8;
  padding:4px;
  font-weight:bold;
  margin-top:8px;
}

.not_present_in_this_query td {
  color: #999
}

#version {
  color: #bbbbbb;
  text-align: right;
  font-size: 8pt;
}
