<ul id="tabs">
  <%-
    selected_tab = @selected_tab || params[:action].to_sym
    [
      ['Applications', :applications],
      ['Channels', :channels],
      ['AO messages', :ao_messages],
      ['AT messages', :at_messages],
      ['Logs', :logs],
      ['Interactions', :interactions],
      ['Settings', :settings],
      ['Visualizations', :visualizations]
    ].each do |name, action|
    -%>
    <li<%= selected_tab == action ? ' class="selected"' : ''%>><%= link_to name, :controller => :home, :action => action -%></li>
    <%-
  end
  -%>
</ul>
