<ul id="tabs">
  <%-
    [
      ['Applications', :applications, false],
      ['Channels', :channels, false],
      ['AO messages', :ao_messages, false],
      ['AT messages', :at_messages, false],
      ['Logs', :logs, false],
      ['Interactions', :interactions, true],
      ['Settings', :settings, true],
      ['Visualizations', :visualizations, true]
    ].each do |name, action, hidden_when_logged_in_as_application|
    -%>
      <% next if hidden_when_logged_in_as_application && logged_in_application %>
      <li<%= (params[:controller].to_sym == action ? ' class="selected"' : '').html_safe %>><%= link_to name, eval("#{action}_path") -%></li>
    <%-
  end
  -%>
</ul>
