<p>
<%= link_to 'State of AO messages for the last two months', messages_state_by_day_visualizations_path(:kind => :ao) %><br/>
See the amount of failed, queued, delivered and confirmed AO messages along the days. Clicking on the graph shows you a pie
of those messages by channel.
</p>
<p>
<%= link_to 'State of AT messages for the last two months', messages_state_by_day_visualizations_path(:kind => :at) %><br/>
See the amount of failed, queued, delivered and confirmed AT messages along the days. Clicking on the graph shows you a pie
of those messages by channel.
</p>
