<h4><%= link_to_function 'Settings', "toggle('settings')" %></h4>

<div id="settings" style="display:none">
<ul>
  <li>Max tries: <%= @account.max_tries %></li>
</ul>

<ul>
  <li><%= link_to "Edit Settings / Change password", :controller => :home, :action => :edit_account %></li>
</ul>
</div>
