<p>
<%= link_to 'State of AO messages along the days', {:controller => :visualization, :action => :ao_state_by_day}, :target => '_blank' %><br/>
See the amount of failed, queued, delivered and confirmed AO messages along the days. Clicking on the graph shows you a pie
of those messages by channel.
</p>
<p>
<%= link_to 'State of AT messages along the days', {:controller => :visualization, :action => :ao_state_by_day}, :target => '_blank' %><br/>
See the amount of failed, queued, delivered and confirmed AT messages along the days. Clicking on the graph shows you a pie
of those messages by channel.
</p>
