<h5>Costs</h5>
<%- if !defined?(hide_ao) -%>
  <p>
  <%= f.label :ao_cost, 'Cost for sending an AO message' -%><br/>
  <%= f.text_field :ao_cost -%>
  </p>
<%- end -%>
<%- if !defined?(hide_at) -%>
  <p>
  <%= f.label :at_cost, 'Cost for receiving an AT message' -%><br/>
  <%= f.text_field :at_cost -%>
  </p>
<%- end -%>
