<h5>AO Rules</h5>

<p>
These rules will be executed when an AO message is routed to this channel.
</p>

<div class="aorules"></div>
	
<script type="text/javascript">	
jQuery(function(){
	init_rules(jQuery('.aorules'), 'aorules', <%= @channel.ao_rules.to_json %>);
});
</script>
