<h5>AT Rules</h5>

<div class="atrules"></div>
<div>
<i>
	Available context for matching are: from, to, subject, body, subject_and_body and any custom attribute like country (iso2) or carrier (guid) sent by the channel handler.<br>
	Rules may complete custom attributes or mangle the message.
</i>
</div>
<br/>
	
<script type="text/javascript">	
jQuery(function(){
	init_rules(jQuery('.atrules'), 'atrules', <%= @channel.at_rules.to_json %>);
});
</script>
