<p style="width:600px;border:1px dashed black;padding:10px;background:#FFF1A8">
In order to use Twitter you must create a <code>twitter_oauth_consumer.yml</code> file in
the <code>config</code> folder of your nuntium installation.<br/>
You can rename the <code>twitter_oauth_consumer.yml.sample</code> file for that.<br/>
Read that file for further instructions.
</p>