/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.ui.autocomplete
 *= require_tree .
*/

body { background-color: #fff; color: #333; margin: 0px; height:100%;}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

img {
  border: 0px;
}

h4 {
  color: white;
  text-decoration: none;
  background-color: #6192a7;
  border-top: 2px solid #3c5768;
  font-weight: bold;
  padding: 2px;
  clear: both;
}

h4 a {
  color: white;
  text-decoration: none;
}

h4 a:visited {
  color: white;
  text-decoration: none;
}

h4 a:hover {
  color: yellow;
  background-color: #6192A7;
  text-decoration: none;
}

h5 {
  color: white;
  text-decoration: none;
  background-color: #61accc;
  border-top: 2px solid #6192A7;
  font-weight: bold;
  padding: 2px;
}

input.highlighted {
  background-color: #FFF1A8;
}

#main {
  padding: 8px;
}

#header {
  padding: 8px;
}

table.table {
  padding: 0px;
  border: 0px;
}

.table tr.ao {
  color: #006;
}

.table tr.at {
  color: black;
}

.table td {
  border: 0px;
  padding: 1px;
  background-color: #EFEFEF;
}

.table tr.even td {
  background-color: #EFEFEF;
}

.table tr.odd td {
  background-color: #DADADA;
}

.table th  {
  border: 0px;
  padding: 1px;
  background-color: #BCD1DA;
  font-size: 12px;
}

#all_at_messages_text, #all_ao_messages_text {
  margin: 2px;
  padding: 2px;
  border: 1px solid black;
  background-color: #FFF1A8;
}

acronym {
  border-bottom: 1px dashed black;
}

#title {
  color: #006;
  font-weight:bold;
  font-size: 20px;
  text-decoration: none;
}

#toolbar {
  font-size: 14px;
  float:right;
  clear:both;
}

.notice {
  border-radius: 4px;
  -moz-border-radius: 4px;
  background:#FFF1A8;
  padding:4px 10px 4px 10px;
  font-weight:bold;
  margin-left:35%;
  display:inline-block;
  text-align:center;
  clear: both;
}

.alert {
  border-radius: 4px;
  -moz-border-radius: 4px;
  background:#FFAAAA;
  padding:4px 10px 4px 10px;
  font-weight:bold;
  margin-left:35%;
  display:inline-block;
  text-align:center;
  clear: both;
}

#errorNotice {
  border-radius: 4px;
  -moz-border-radius: 4px;
  color:white;
  padding:4px 10px 4px 10px;
  background:red;
  font-weight:bold;
  margin-left:35%;
  margin-right:35%;
  display:inline-block;
  text-align:center;
  clear: both;
}

#errorNotice a {
  color:yellow;
}

#tabs {
  float: left;
  position: relative;
  list-style: none;
  width: 100%;
  display: block;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  padding-top: 10px;
  border-bottom: 1px solid black;
}

#tabs li {
  float: left;
  display: block;
  padding: 2px 8px 2px 8px;
  margin-left: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border: 1px solid black;
  position: relative;
  top: 1px;
  background: #efefef;
}

#tabs li a {
  text-decoration: none;
}

#tabs li.selected {
  border-bottom: 1px solid white;
  background: white;
}

#tabs li.selected a {
  text-decoration: none;
}

.not_present_in_this_query td {
  color: #999
}

.url {
  font-family: monospace;
  font-weight: bold;
}

#container {
  min-height: 100%;
  position: relative;
}

#version_separator {
  height: 20px;
}

#version {
  position: absolute;
  bottom: 0px;
  right: 4px;
  height: 20px;
  width: 100%;
  color: #666;
  text-align: right;
  font-size: 8pt;
}

#accounts_popup {
  border: 1px solid black;
  padding: 10px;
  background: white;
  z-index: 1;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-topright: 8px;
}