.item-list {
  margin-top: 50px;
}
.item-list .item {
  margin: 20px 0px;
}
.collection {
  border: none;
}
.collection .collection-item {
  background-color: transparent;
  padding-left: 0px;
  padding-right: 50px;
  min-height: 120px;
  position: relative;
}
.collection .collection-item .arrow-right {
  position: absolute;
  right: 5px;
  top: calc(50% - 10px);
}
.clickable {
  cursor: pointer;
}
#endianness_mt {
  margin-left: 30px;
}
.row.margin-top {
  margin-top: 50px
}
.row.no-bottom-margin {
  margin-bottom: 0px;
}
i.material-icons {
  margin-right: 10px;
}
.v-middle {
  vertical-align: middle;
}
.input-field.inline {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

