.item-list {
  margin-top: 50px;
}
.item-list .item {
  margin: 20px 0px;
}
.collection {
  border: none;
}
.collection .collection-item {
  background-color: transparent;
  padding-left: 0px;
  padding-right: 50px;
  min-height: 120px;
  position: relative;
}
.collection .collection-item .arrow-right {
  position: absolute;
  right: 5px;
  top: calc(50% - 10px);
}
.clickable {
  cursor: pointer;
}
.row.channels-ui-select{
  margin-top: 40px;
  margin-bottom: 70px;
}

.row.mt-encodings {
  margin-top: 55px;
}

.mt-encodings span {
  padding-left: 25px;
  margin-left: 20px;
}

.mt-encodings p {
  margin-left: 10px;
}
