name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-20.04
    env:
      RAILS_ENV: test
    steps:
      - uses: actions/checkout@v3

      - name: Fix tests environment
        run: mv docker-compose.ci-override.yml docker-compose.override.yml 

      - name: Set environment up
        run: |
          docker-compose pull
          docker-compose build
          docker-compose run --rm web bundle install
          docker-compose run --rm web rake db:setup
          docker-compose run --rm web rake db:test:prepare

      - name: Run specs
        run: |
          docker-compose run --rm web rake test

  build:
    needs: test
    runs-on: ubuntu-20.04
    env:
      DOCKER_REPOSITORY: 'instedd/nuntium'
      DOCKER_USER: ${{ secrets.DOCKER_USER }}
      DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
    steps:
      - uses: actions/checkout@v3
      - name: Build image & push to Docker Hub
        run: ./build.sh
