doctype 5
html
  head
    meta charset="utf-8"
    title nuntium #{' - ' + current_user.display_name if user_signed_in?}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    - yield :head
  body
    #container
      - if @hide_title.nil?
        #header
          a#title href="/" Nuntium
          - if flash[:notice].present?
            span.notice= flash[:notice]
          - if flash[:alert].present?
            span.alert= flash[:alert]
          - if user_signed_in?
            span#toolbar
              = current_user.display_name
              - if account
                '  |
                a#accounts_link href="javascript:void(0)" onclick="toggleAccountsPopup()"= account.name
                '
                a href="javascript:void(0)" onclick="toggleAccountsPopup()" style="text-decoration:none" &#9662
                #accounts_popup style="position:absolute;display:none"
                  ' Switch to
                  ul
                    - current_user.accounts.sort_by(&:name).each do |other_account|
                      - if other_account != account
                        li= link_to other_account.name, select_account_path(other_account)
                    li= link_to 'new account...', new_account_path
              '  |
              a href="http://tech.groups.yahoo.com/group/nuntiumusers/" target="_blank" Have a question?
              '  |
              a href="http://code.google.com/p/nuntium/" target="_blank" Help
              '  |

              = link_to "Logoff", destroy_user_session_path, method: :delete
        - if account
          = render 'shared/tabs'
    #main
      = yield
    #version_separator
    #version Version: #{nuntium_version}
