b Users
ul
  li
    ' Add a user:
    input#new_email type="text" size="60" placeholder="john@example.com"
    input type="button" value="Add" *ko(click: 'addUser')
  /!ko foreach: $root.users
  li
    span *ko(text: 'name')
    ' :
    span *ko(text: 'role')
    br
    ' Applications
    ul
      /!ko foreach: applications
      li
        span *ko(text: 'name')
        ' :
        span *ko(text: 'computedRole')
      /!/ko
    ' Channels
    ul
      /!ko foreach: channels
      li
        span *ko(text: 'name')
        ' :
        span *ko(text: 'computedRole')
      /!/ko
  /!/ko

javascript:
  var model = {}
  model.applications = #{applications.map { |app| {id: app.id, name: app.name} }.to_json.html_safe};
  model.channels = #{channels.map { |app| {id: app.id, name: app.name} }.to_json.html_safe};
  model.users = #{users.map { |user| {id: user.id, name: user.display_name} }.to_json.html_safe};
  model.user_accounts = #{user_accounts.map { |ua| {user_id: ua.user_id, account_id: ua.account_id, role: ua.role} }.to_json.html_safe};
  model.user_applications = #{user_applications.map { |ua| {user_id: ua.user_id, application_id: ua.application_id, role: ua.role} }.to_json.html_safe};
  model.user_channels = #{user_channels.map { |ua| {user_id: ua.user_id, account_id: ua.account_id, role: ua.role} }.to_json.html_safe};

  initMembers(model);

